@import 'variables'; 
.counter {
  width: 100%; // The component now spans the full width
  padding: 20px; // Added padding for better spacing
  box-sizing: border-box; // Ensure padding is included in the width
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: $box-shadow; // Use the box shadow variable
  border-radius: $box-border-radius; // Adjusted for a softer rounded corner on a full-width component
  font-family: 'Arial', sans-serif;
  margin: auto;
}

.number {
  font-size: 2em; // Adjust font size to be responsive
  font-weight: bold;
  color: #666;
  
}

.text {
  font-size: 1em; // Adjust font size to be responsive
  color: $secondary-color;
  margin-top: 0.5em;
}

