@import "variables";

.taskListHeader {
  display: flex;
  flex-direction: row; // Set display to column
  justify-content: space-between;
  border-radius: 8px;
  margin-bottom: 5px;

  & > * {
    width: 40%;
    margin: 0px;
  }
}

.taskList {
  margin-top: 5px;
  padding: 20px;
  box-shadow: $box-shadow;
  border-radius: $box-border-radius;
}